.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #f3f3f3
}

.notes {
  margin-top: 1%;
  column-count: 6;
}