@media screen and (min-width: 700px) {
  .notes {
    column-count: 2;
  }
}

@media screen and (min-width: 1000px) {
  .notes {
    column-count: 4;
  }
}


@media screen and (min-width: 1200px) {
  .notes {
    column-count: 5;
  }
}

@media screen and (min-width: 1900px) {
  .notes {
    column-count: 7;
  }
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #f3f3f3
}

.notes {
  margin-top: 2%;
}